div {
    float: left;
}
div.lateral {
    background-color: #888;
    width: 20%;
    height: 680px;
}
div.central {
    background-color: #eee;
    width: 50%;
    height: 550px;
    padding: 5%;
}
#teste {
    background-color: #FF0000;
    width: 40px;
    height: 40px;
    color: #FFF;
    margin: 5px;
    border-radius: 80%;
    padding: 5px;
}
.verde {
    background-color: #007700;
    width: 40px;
    height: 40px;
    color: #FFF;
    margin: 5px;
}
.molde{
    float: none;
    height: 60px;
    width:  220px;
    background-color: #fff;;
}